/* MANROPE */

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../data/Manrope-ExtraBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../data/Manrope-SemiBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../data/Manrope-Regular.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("../data/Manrope-Light.ttf") format('truetype');
  }